#app {
  display: flex;
  flex-direction: column;
  background: #fff;
}
.header {
  width: 100%;
  min-width: 1360px;
  height: 88px;
}
.content {
  width: 100%;
  min-width: 1360px;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}
.aside {
  width: 200px;
  height: 100%;
}
.container {
  min-width: 1160px;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}
.container .el-input {
  width: 220px;
}
