@media screen and (max-width: 1360px) {
  .header {
    width: 100%;
    height: 48px;
  }
  .container {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@media screen and (min-width: 1360px) and (max-width: 1680px) {
  .header {
    min-width: 1360px;
    height: 48px;
  }
  .container {
    min-width: 1360px;
    height: 100%;
    background: #fff;
  }
}
@media screen and (min-width: 1680px) {
  .header {
    min-width: 1360px;
    height: 48px;
  }
  .container {
    min-width: 1360px;
    height: 100%;
    background: #fff;
  }
}
.container .el-input {
  width: 220px;
}
