#app {
  display: flex;
  width: 100%;
  min-width: 1360px;
  flex-direction: column;
  background: #fff;
}

#header {
  height: 88px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-width: 1360px;
  position: relative;
}

#main {
  flex-grow: 1;
  display: flex;
  width: 100%;
  min-width: 1360px;
}

#main #aside {
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}

#main #content {
  flex-grow: 1;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.iconFont {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
